body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
}

.animated-section:nth-child(1) { 
    background: #ffffff; 
}

.animated-section:nth-child(2) { 
    background: #e0e6f0; 
}

.animated-section:nth-child(3) { 
    background: #b0c4de; color: white; 
}

.animated-section:nth-child(4) { 
    background: #7088b0; color: white; 
}

.animated-section:nth-child(5) { 
    background: #3b4e70; color: white; 
}

nav ul {
    list-style: none;
    padding: 10px;
    background-color: #222;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #f39c12;
}

.animated-section {
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: left;
}

.animated-section.visible {
    opacity: 1;
}

ul {
    list-style: disc inside;
    padding: 0;
    text-align: left;
    margin-left: 20px;
}

li {
    display: list-item;
    margin: 10px 0;
}

h1, h2, h3 {
    text-align: left;
}



.project-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a 2x2 grid */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.project-item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.project-description {
    font-size: 14px;
    color: #666;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
    text-align: left;
}


